<!DOCTYPE html>
<html lang="en">
<head>
    <title>Travel System | Tours |Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/images/LogoSystem.png">
    <link rel="shortcut icon" href="~/images/LogoSystem.png">
    <link rel="stylesheet" href="~/css/style.css">

    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery-migrate-1.1.1.js"></script>
    <script src="~/js/superfish.js"></script>
    <script src="~/js/jquery.jqtransform.js"></script>
    <script src="~/js/jquery.equalheights.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.ui.totop.js"></script>
</head>
@using System.Globalization;
<body>
    <header>
        <div class="container_12">

            <div class="grid_12">
                <h1><a href="/Home/index"><img src="~/images/LogoSystem.png" alt=""></a></h1>
                <div class="clear"></div>
            </div>
            <div class="menu_block">
                <nav>
                    <ul class="sf-menu">
                        <li class="current"><a href="/Home/index">Home</a></li>
                        <li class="with_ul">
                            <a href="/Home/about">About</a>
                            <ul>
                                <li><a href="/Vehicle/ViewListVehicle">Vehicle</a></li>
                                <li><a href="#">Restaurant</a></li>
                                <li><a href="#">Hotel</a></li>
                                <li><a href="#">Staff</a></li>
                            </ul>
                        </li>
                        <li><a href="/Home/gallery">Gallery</a></li>
                        <li><a href="/Tours/tours">Tours</a></li>
                        <li><a href="/Home/contacts">Contacts</a></li>

                    </ul>
                </nav>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </header>
    <div class="main">
        <div class="content">


            <p style="text-align: center; font-size: 30px">Detail of Tour booking</p>
            <div class="container_12">
                <div class="formo">
                    <form action="AddBooking" ; line-height: 30px;" class="cf" method="post" onsubmit="return validateForm()">
                        <div class="detail-container">
                            <div class="detail-info">
                                <input style="display: none" name="TourId" value="@ViewBag.NewTour.Id">
                                <p><strong>Tour Name: </strong> @ViewBag.NewTour.Name</p>
                                @{

                                    String price = string.Format(new CultureInfo("vi-VN"), "{0:#,##0}", @ViewBag.NewTour.Price);

                                    <p><strong>Price: </strong> @price ₫</p>
                                }
                               
                                <p><strong>Air Plane: </strong> @ViewBag.NewTour.AirPlane</p>
                                <p><strong>Rating: </strong> @ViewBag.NewTour.Rating / 5</p>
                                <p><strong>Duration: </strong> @ViewBag.NewTour.Duration</p>
                                <p><strong>Start Date: </strong> <input type="date" id="startDateInput" name="StartDate" onchange="updateEndDate()"></p>
                                <p><strong>End Date: </strong> <input id="endDateInput" name="EndDate" readonly></p>

                                <script>


                                    function updateEndDate() {
                                        var startDateValue = document.getElementById("startDateInput").value;
                                        if (startDateValue) {
                                            var startDate = new Date(startDateValue);

                                            var durationArray = JSON.parse(JSON.stringify('@ViewBag.NewTour.Duration'.split(' ')));
                                            var numberOfDays = parseInt(durationArray[0]);

                                            startDate.setDate(startDate.getDate() + numberOfDays);
                                            var formattedEndDate = startDate.toISOString().slice(0, 10);

                                            var formattedEndDate = ('0' + startDate.getDate()).slice(-2) + '-' + ('0' + (startDate.getMonth() + 1)).slice(-2) + '-' + startDate.getFullYear();
                                            document.getElementById("endDateInput").value = formattedEndDate;
                                        }
                                    }
                                </script>
                                <p>
                                    @{
                                        <strong>Book Hotel: </strong>
                                        <select id="mySelectHotel" style="font-size: 20px" asp-for="HotelId" name="HotelId">
                                            <option><p>--Select--</p></option>
                                            @foreach (var c in @ViewBag.ListHotelTour)
                                            {
                                                <option value="@c.Id"><p><strong>@c.Name</strong></p></option>
                                            }
                                        </select>

                                        <div id="myTableHotel" class="feedback-table" style="display: none;">
                                            <div class="row header">
                                                <div class="row header">
                                                    <div class="cell">Address</div>
                                                    <div class="cell">Phone</div>
                                                    <div class="cell">Rating</div>
                                                    <div class="cell">Review</div>
                                                </div>
                                                <div class="row">
                                                    <div class="cell" id="addressHotel"></div>
                                                    <div class="cell" id="phoneHotel"></div>
                                                    <div class="cell" id="ratingHotel"></div>
                                                    <div class="cell" id="reviewHotel"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <script>
                                            var select1 = document.getElementById("mySelectHotel");
                                            var table1 = document.getElementById("myTableHotel");

                                            select1.addEventListener("change", function () {
                                                var selectedValue = parseInt(select1.value);
                                                if (selectedValue === "--Select--") {
                                                    table1.style.display = "none";
                                                }
                                                else {
                                                    var data = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ViewBag.ListHotelTour));

                                                    var selectedHotel = data.find(function (item) {
                                                        return item.Id === selectedValue;
                                                    });

                                                    if (selectedHotel) {
                                                        var addressHotel = selectedHotel.Address;
                                                        var phoneHotel = selectedHotel.Phone;
                                                        var ratingHotel = selectedHotel.Rating;
                                                        var reviewHotel = selectedHotel.Review;

                                                        document.getElementById("addressHotel").textContent = addressHotel;
                                                        document.getElementById("phoneHotel").textContent = phoneHotel;
                                                        document.getElementById("ratingHotel").textContent = ratingHotel;
                                                        document.getElementById("reviewHotel").textContent = reviewHotel;
                                                    }
                                                    table1.style.display = "block";
                                                }
                                            });
                                        </script>
                                    }
                                </p>
                                <span id="HotelIdError" style="color: red;"></span>
                                <p>
                                    <strong>Book Restaurant: </strong>
                                    <select id="mySelectRestaurant" style="font-size: 20px" asp-for="RestaurantId" name="RestaurantId">
                                        <option><p>--Select--</p></option>
                                        @foreach (var c in @ViewBag.ListRestaurantTour)
                                        {
                                            <option value="@c.Id"><p><strong>@c.Name</strong></p></option>
                                        }

                                    </select>

                                    <div id="myTableRestaurant" class="feedback-table" style="display: none;">
                                        <div class="row header">
                                            <div class="row header">
                                                <div class="cell">Address</div>
                                                <div class="cell">Phone</div>
                                                <div class="cell">Rate</div>
                                                <div class="cell">Price</div>
                                            </div>
                                            <div class="row">
                                                <div class="cell" id="addressRes"></div>
                                                <div class="cell" id="phoneRes"></div>
                                                <div class="cell" id="rateRes"></div>
                                                <div class="cell" id="priceRes"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <script>
                                        var select2 = document.getElementById("mySelectRestaurant");
                                        var table2 = document.getElementById("myTableRestaurant");

                                        select2.addEventListener("change", function () {
                                            var selectedValue = parseInt(select2.value);
                                            if (selectedValue === "--Select--") {
                                                table2.style.display = "none";
                                            }
                                            else {
                                                var data = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ViewBag.ListRestaurantTour));

                                                var selectedRes = data.find(function (item) {
                                                    return item.Id === selectedValue;
                                                });

                                                if (selectedRes) {
                                                    var addressRes = selectedRes.Address;
                                                    var phoneRes = selectedRes.Phone;
                                                    var rateRes = selectedRes.Rate;
                                                    var priceRes = selectedRes.Price;

                                                    document.getElementById("addressRes").textContent = addressRes;
                                                    document.getElementById("phoneRes").textContent = phoneRes;
                                                    document.getElementById("rateRes").textContent = rateRes;
                                                    document.getElementById("priceRes").textContent = priceRes;
                                                }
                                                table2.style.display = "block";
                                            }
                                        });
                                    </script>
                                </p>
                                <span id="RestaurantIdError" style="color: red;"></span>

                                <p>
                                    <strong>Book Vehicle: </strong>
                                    <select id="mySelectVehicle" class="container-field" style="font-size: 20px" asp-for="VehicleId" name="VehicleId">
                                        <option><p>--Select--</p></option>
                                        @foreach (var c in @ViewBag.ListVehicleTour)
                                        {
                                            <option value="@c.Id"><p><strong>@c.Name</strong></p></option>
                                        }

                                    </select>

                                    <div id="myTableVehicle" class="feedback-table" style="display: none;">
                                        <div class="row header">
                                            <div class="row header">
                                                <div class="cell">Type</div>
                                                <div class="cell">Rate</div>
                                                <div class="cell">Price</div>
                                            </div>
                                            <div class="row">
                                                <div class="cell" id="typeV"></div>
                                                <div class="cell" id="rateV"></div>
                                                <div class="cell" id="priceV"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <script>
                                        var select3 = document.getElementById("mySelectVehicle");
                                        var table3 = document.getElementById("myTableVehicle");

                                        select3.addEventListener("change", function () {
                                            var selectedValue = parseInt(select3.value);
                                            if (selectedValue === "--Select--") {
                                                table3.style.display = "none";
                                            }
                                            else {
                                                var data = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ViewBag.ListVehicleTour));

                                                var selectedRes = data.find(function (item) {
                                                    return item.Id === selectedValue;
                                                });

                                                if (selectedRes) {
                                                    var typeVe = selectedRes.Type;
                                                    var rateVe = selectedRes.Rate;
                                                    var priceVe = selectedRes.Price;

                                                    document.getElementById("typeV").textContent = typeVe;
                                                    document.getElementById("rateV").textContent = rateVe;
                                                    document.getElementById("priceV").textContent = priceVe;
                                                }
                                                table3.style.display = "block";
                                            }
                                        });
                                    </script>

                                </p>
                                <span id="VehicleIdError" style="color: red;"></span>

                                <p>
                                    <strong>Book Staff: </strong>
                                    <select id="mySelectStaff" class="container-field" style="font-size: 20px" asp-for="Staff" name="StaffId">
                                        <option><p>--Select--</p></option>
                                        @foreach (var c in @ViewBag.ListStaffTour)
                                        {
                                            <option value="@c.Id"><p><strong>@c.EmailUserNavigation.FirstName @c.EmailUserNavigation.LastName</strong></p></option>
                                        }

                                    </select>
                                </p>
                                <span id="StaffIdError" style="color: red;"></span>


                                <div asp-for="NumPeople" class="container-field" style="font-size: 20px">
                                    Number People: <input type="text" name="NumPeople" id="NumPeople">
                                </div>
                                <span id="NumPeopleError" style="color: red;"></span>

                                <div asp-for="Message" class="container-field" style="font-size: 20px">
                                    Message: <input type="text" name="Message" id="Message">
                                </div>
                                <span id="MessageError" style="color: red;"></span>

                            </div>
                        </div>
                        <input type="submit" value="Book this tour" id="input-submit">
                    </form>
                </div>
            </div>

            <script>
                function validateSelectOption(inputName) {
                    var input = document.getElementsByName(inputName)[0];
                    var errorMessage = document.getElementById(inputName + "Error");

                    if (input.value == "--Select--") {
                        errorMessage.innerHTML = "You must select option!";
                        return false;
                    }
                    else {
                        errorMessage.innerHTML = "";
                        return true;
                    }
                }

                function checkInputNumber(inputName) {
                    var inputElement = document.getElementById(inputName);
                    var inputValue = inputElement.value;
                    var errorMessage = document.getElementById("NumPeopleError");

                    if (inputValue !== "" && !isNaN(inputValue) && !inputValue.includes('.') && parseInt(inputValue) > 0) {
                        errorMessage.innerHTML = "";
                        return true;
                    } else {
                        errorMessage.innerHTML = "You must enter a valid number and this number must be greater than 0!";
                        return false;
                    }
                }

                function checkInputMessage(inputName) {
                    var inputElement = document.getElementById(inputName);
                    var inputValue = inputElement.value;
                    var errorMessage = document.getElementById("MessageError");

                    if (inputValue !== "" && inputValue.length <= 200) {
                        errorMessage.innerHTML = "";
                        return true;
                    } else {
                        errorMessage.innerHTML = "You must enter message and length must be not greater than 200 characters!";
                        return false;
                    }
                }

                function validateForm() {
                    var isHotelSelect = validateSelectOption('HotelId');
                    var isRestaurantSelect = validateSelectOption('RestaurantId');
                    var isVehicleSelect = validateSelectOption('VehicleId');
                    var isStaffSelect = validateSelectOption('StaffId');
                    var isNumPeople = checkInputNumber('NumPeople');
                    var isMessage = checkInputMessage('Message');

                    return isHotelSelect && isRestaurantSelect && isVehicleSelect && isStaffSelect && isNumPeople && isMessage;
                }
            </script>

        </div>
        <div class="bottom_block">
            <div class="container_12">
                <div class="grid_2 prefix_2">
                    <ul>
                        <li><a href="#">FAQS Page</a></li>
                        <li><a href="#">People Say</a></li>
                    </ul>
                </div>
                <div class="grid_2">
                    <ul>
                        <li><a href="#">Useful links</a></li>
                        <li><a href="#">Partners</a></li>
                    </ul>
                </div>
                <div class="grid_2">
                    <ul>
                        <li><a href="#">Insurance</a></li>
                        <li><a href="#">Family Travel</a></li>
                    </ul>
                </div>
                <div class="grid_2">
                    <h4>Contact Us:</h4>
                    TEL: 1-800-234-5678<br>
                    <a href="#">info@demolink.org</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container_12">
            <div class="grid_12">
                <div class="socials"> <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a> </div>
                <div class="copy"> Journey &copy; 2045 | <a href="#">Privacy Policy</a> | Design by: <a href="http://www.templatemonster.com/">TemplateMonster.com</a> </div>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
</body>
</html>