@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<h1> name vehicle @ViewBag.vehicle.Name</h1>
<h1> price vehicle @ViewBag.vehicle.Price</h1>
<h1> type vehicle @ViewBag.vehicle.Type</h1>
<h1> description vehicle @ViewBag.vehicle.Description</h1>
<h1> rate vehicle @ViewBag.vehicle.Rate</h1>
