@page
@model TravelSystem_SWP391.Pages.Admin.Vehicle.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Rate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Rate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Vehicle?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
