@using TravelSystem_SWP391
@model List<TravelSystem_SWP391.Models.Feedback>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Travel System | Tours</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/images/LogoSystem.png">
    <link rel="shortcut icon" href="~/images/LogoSystem.png">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet prefetch" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
</head>
<body>
    <header>
        <div class="container_12">
            <div class="grid_12">
                <h1><a href="/Home/index"><img src="~/images/LogoSystem.png" alt=""></a></h1>
                <div class="clear"></div>
            </div>

            <div class="clear"></div>
        </div>
    </header>
    <div class="main">
        <div class="content">
            <p style="text-align: center; font-size: 30px">Feedbacks of Users</p>
            <div class="feedback-table">
                <div class="row header">
                    <div class="row header">
                        <div class="cell">No.</div>
                        <div class="cell">User Name</div>
                        <div class="cell">Subject</div>
                        <div class="cell">Description</div>
                        <div class="cell">Response</div>
                        <div class="cell">Action</div>
                    </div>

                    @{
                        int number = 1;
                        foreach (var c in Model)
                        {

                            <div class="row">
                                <div class="cell">@number</div>
                                <div class="cell">@c.Name</div>
                                <div class="cell">@c.Subject</div>
                                <div class="cell">@c.Message</div>
                                <div class="cell">@c.Response</div>
                                <a style="display: flex" href="@Url.Action("DetailFeedback", "Feedback", new { userEmail = c.Email , feedbackName = c.Name , feedbackMessage = @c.Message , feedbackSubject = @c.Subject , feedbackResponce = @c.Response })" class="btn btn-success">Detail</a>
                            </div>
                            number++;
                        }
                    }

                    </table>
                </div>
            </div>
            <div class="bottom_block">
                <div class="container_12">
                    <div class="grid_2 prefix_2">
                        <ul>
                            <li><a href="#">FAQS Page</a></li>
                            <li><a href="#">People Say</a></li>
                        </ul>
                    </div>
                    <div class="grid_2">
                        <ul>
                            <li><a href="#">Useful links</a></li>
                            <li><a href="#">Partners</a></li>
                        </ul>
                    </div>
                    <div class="grid_2">
                        <ul>
                            <li><a href="#">Insurance</a></li>
                            <li><a href="#">Family Travel</a></li>
                        </ul>
                    </div>
                    <div class="grid_2">
                        <h4>Contact Us:</h4>
                        TEL: 1-800-234-5678<br>
                        <a href="#">info@demolink.org</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container_12">
                <div class="grid_12">
                    <div class="socials"> <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a> </div>
                    <div class="copy"> Journey &copy; 2045 | <a href="#">Privacy Policy</a> | Design by: <a href="http://www.templatemonster.com/">TemplateMonster.com</a> </div>
                </div>
                <div class="clear"></div>
            </div>
        </footer>
</body>
</html>
